<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Angular Reactive Form with NgxValidate</h3>
        <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
            <label>Name</label>
            <input type="text"
                   formControlName="name"
                   class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
            <validation-error [errorClass]="'text-danger'" [control]="myForm.get('name')"></validation-error>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)" id="checkout-form" *ngIf="false"
      class="smart-form">

  <fieldset>
    <section class="col col-6">
      <label class="input">
        Name
        <span style="color: red">*</span>
        <input type="text"
               formControlName="name"
               name="name"
               placeholder="">
        <validation-error [control]="myForm.get('name')"></validation-error>
      </label>
    </section>

    <section class="col col-6">
      <label class="input">
        Number
        <span style="color: red">*</span>
        <input type="text"
               formControlName="number"
               name="number"
               placeholder="">
        <validation-error [control]="myForm.get('number')"></validation-error>
      </label>
    </section>


    <div class="row">
      <section class="col col-6">
        <label class="input">
          Password
          <span style="color: red">*</span>
          <input type="password"
                 formControlName="password"
                 name="password"
                 placeholder="">
          <validation-error [control]="myForm.get('password')"></validation-error>
        </label>
      </section>

      <section class="col col-6">
        <label class="input">
          Repeat Password
          <span style="color: red">*</span>
          <input type="repeatPassword"
                 formControlName="repeatPassword"
                 name="repeatPassword"
                 placeholder="">
          <validation-error [control]="myForm.get('repeatPassword')"></validation-error>
        </label>
      </section>
    </div>

  </fieldset>


  <footer>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    <button type="button" class="btn btn-label">
      Cancel
    </button>
  </footer>
</form>
